<div style="color: red">
    {{#if author}}
        <h1>{{author.firstName}} {{author.lastName}}</h1>
        <img style="width:100px;height:100px" src="{{author.picture}}"/>
    {{else}}
        <h1>Unknown Author</h1>
    {{/if}}
</div>